header {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d4c6c6;
  }
  
  .logo {
    width: 150px; 
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
    Margin: 10px;

    
 
    
 
    
  }
  
  .search input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
  }
  
  .search button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }


