* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b99c7;
}

header .search{
  display: flex;
  align-items: center;
  margin: 10px;
}

.logo {
  width: 100px;
  display: flex;
}

.logo img {
  max-width: 100%;
  height: auto;
  margin: 10px;
}

span a {
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
}

.search{
  padding-left: 11rem;
}

.search :hover {
  color: gray;
  cursor: pointer;
}

.favoritos :hover {
  color: gray;
  cursor: pointer;
}

.favoritos{
  display: flex;
  align-items: center;
}

.login a {
  background-color: #333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  text-decoration: none;
}

.search input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;  
}

 button {
  background-color: #333;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;  
  margin: 2px;
}

.categoria {
  float: right;
}

.Content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

footer {
  background-color: #1b99c7;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
